services:
  app:
    container_name: crypto-app
    image: app:01
    restart: on-failure:3
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GECKO_API_KEY=${GECKO_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - TELEGRAM_API_KEY=${TELEGRAM_API_KEY}
      - DATABASE_NAME=asset_tracker
      - DATABASE_URL=jdbc:postgresql://database:5432/${DATABASE_NAME:-asset_tracker}
      - DATABASE_USERNAME=${DATABASE_USERNAME:-postgres}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD:-postgres}
      - DATABASE_HOST=database
      - REDIS_HOST=cache
      - REDIS_PORT=${REDIS_PORT:-6379}
    ports:
      - '${SERVER_PORT:-8083}:${CONTAINER_PORT:-8080}'
    networks:
      - local_net
    depends_on:
      - database
      - cache

  database:
    container_name: crypto-database
    image: postgres:18-alpine
    restart: on-failure:3
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME:-postgres}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-postgres}
      - POSTGRES_DB=asset_tracker
    ports:
      - '5432:5432'
    networks:
      - local_net
    volumes:
      - pg-data:/var/lib/postgresql/18/docker

  cache:
    container_name: crypto-cache
    image: redis:7-alpine
    restart: on-failure:3
    networks:
      - local_net
    volumes:
      - redis-data:/data

networks:
  local_net:
    driver: bridge

volumes:
  redis-data:
  pg-data: